.app {
  background-color: #515151;
  padding: 10px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  border-radius: 10px;
  max-width: 50%;
  position: static;
}
.next-button {
  margin-top: 10px;
}
